/******************************
            LINE
******************************/
hr {
  margin-top: 18px;
  margin-bottom: 18px;
  border: 0;
  border-top: 1px solid #ccc;
}

.fr-border {
  border: 1px solid #CCC !important;
}
